* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 1px;
}

h1 {
    font-size: 32px;
    margin: 15px 0;
}

h2 {
    font-size: 28px;
    margin: 5px 0;
}

h3 {
    font-size: 24px;
    margin: 5px 0;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    margin: 5px 0;
}

a {
    &:hover {
        color: red;
        text-decoration: underline;
    }
}
