.app-header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 400px;
    font-size: 30px;
}
