* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    color: black !important;
}

main {
    width: 100%;
    // max-width: 800px;
    border: 2px solid red;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 10px;
    background: rgba($color: #000000, $alpha: 0.2);
    button {
        cursor: pointer;
    }
}
